.nav-btn{
	color: pink;
}

.each-project{
  border: 2px solid green;
	margin: 5%;
  padding: 10%;
  background-color: black;
}

.outter{
  height: 100vw;
}

.btn{
  border-radius: 10%;
}

.wrapper {  
        margin-top: 5%; 
        text-align: center; 
        width: 100%;
        padding: 5%;
    }
    .scrolls { 
        overflow-x: scroll;
        /*overflow-y: hidden;*/
        height: 100%;

        white-space:nowrap
    } 
    .proj { 
        background-color:#a4a4c1;
        border-radius: 5%;
        padding: 5%;
        margin: 5%;
        width: 25vw;
        cursor: pointer;
    display:inline-block;
    *display:inline;
    }
    
 .pro-butts{
  

  padding-top: 2%;
  width: 15vw;
 }
 .pro-pic{
  border-radius: 5%;
  width: 15vw;
 }

.circle-image{
  border-radius: 50%;
}

.convo1{
  margin-left: 10vw;
}

.convo2{
  margin-left: 30vw;
}

/*speech bubble style from: http://nicolasgallagher.com/pure-css-speech-bubbles */

/* creates triangle */
.triangle-isosceles2:after {
  content: "";
  display: block; 
  position: absolute;
  bottom: -1em;
  left: 45em;
  width: 0;
  border-width: 15px 15px 0;
  border-style: solid;
  border-color: #f3961c transparent;
}
/* creates triangle */
.triangle-isosceles:after {
  content: "";
  display: block; 
  position: absolute;
  bottom: -1em;
  left: 5em;
  width: 0;
  border-width: 15px 15px 0;
  border-style: solid;
  border-color: #f3961c transparent;
}

.triangle-isosceles {
  position: relative;
  padding: 5%;
  margin: 5em 0 3em;
  color: #000;
  background: #f3961c;
  border-radius: 10px;
}

.triangle-isosceles2 {
  position: relative;
  padding: 5%;
  margin: 5em 0 -5em;
  color: #000;
  background: #f3961c;
  border-radius: 10px;
}

.container{
	width: 100%;
}

.email-phn{
	/*margin-top: 50vh;*/
	position: relative;
	bottom:0;
}

.res-name{
	font-family: trebuchet;
	font-style: small-caps;
}

.myname, .subtitle{
  margin-bottom: -5px;
  margin-top: -5px;
}

.logo{
/*  padding-left: 7%;
  margin-top: -5px*/;
	/*margin: -5%, 7%, -5%, -5%;
*/	width: 50%;
}


.title{
	text-align: center;
}

.home, body{
	width: 100%;
	background-color: #717ccb;
	color:pink;
}

.footer{
	margin-top: 0px;
	font-size: 14pt;
}

.sil-talk{
  width: 50%;
}

.about-me{
  padding-top:5vh;
}

