<!-- dummy navbar to hold space for fixed nav bar -->
	<div>
		<page-top class="row" />
	</div>

	<div class="navbar navbar-fixed-top">
		<nav-bar />
	</div>



	<div class="navbar-fixed-bottom">
		<footer-bar  />
	</div>


	<div class="container home">

		<div class="row name-job outter">
			<div class="col-xs-12 text-centered">
				<div class="row my-name">
					<h1 class=" text-center">{{title}}</h1>
				</div>
			<div class="row">
				<div class="col-sm-12 text-center">
					<h3 class="subtitle">Full Stack Javascript Delvoper</h3>
				</div>
			</div>
				<div class="row text-center">
					<div class=""></div>
					<img class="text-center logo " ng-src="images/jlog1.png" alt="">
					<div class=""></div>
				</div>

			
		</div>
	</div>

	
	<div class="row">
		<con-bubbles id="con-bubbles"/>
	</div>

	<div class="wrapper">
		<project-view id="project-view"/>
	</div>

	<!-- ng-show="showContact" -->
	<div  class="contact-display outter">
		<contact-view id="contact-view"/>
	</div>




<!-- 	<div class="documentList">
	 	<resume-view id="resume-view" />
	</div> -->
</div>









