
.hidden{
visibility: hidden;
}

body {
  color: #BC5AB3;
     margin: 0;
     background: url("../images/purpleOnBlue.png");
     background-size:100% auto;
     background-repeat:no-repeat;
    display: compact;
}

.dark , .light{
text-decoration: blink;
margin-left: 10px;
}

.darken{
  background-color: black;
  color: white;
}

#caption, #myName {
  position:absolute;
  bottom:15%;
  color: #BC5AB3;
  margin-left: 50%;
  margin-bottom:15%;
  padding-bottom: 15%;
}


#myName{
  position:absolute;
  bottom:15%;
  margin-bottom:15%;
  padding-bottom: 25%;
  margin-right: 25%;
}

/*remove default padding*/
#mainMenu ul{
  height:auto;
  padding: 8px 0px;
  margin: opx;
  position: center;
}

/*change position of the text so that it fits into the menu and runs horizontally (inline). also adds padding to the text for the horizontal positionaing */
#mainMenu li{
  display: inline;
  font-size: 1.2em;
  padding: 10px;
}

/*remove the text underline and change the color of the text to something remeniscent of the underline color. Also padding uniform in all areas to contorl poistion and size of the hover...*/
#mainMenu a {
  text-decoration: none;
  color: #BC5AB3;
}

/*set hoover effect*/
#mainMenu a:hover{
  color: purple;
}

#mainMenu {
	position: fixed;
	top:10px;
	left:25%;
	margin-left:0%;
}




.nav  {
    position: absolute; 
    bottom: 0; 
    right: 0;
    margin-bottom: -10px;
}