
body {
  /*color: #BC5AB3;*/
  font-family: 'Play', sans-serif;
  background-color:
}

.dark{
  background-color: black;
  color: white;
}

#caption {
  color: white;
  position:fixed;
  bottom:15%;
  color: white;
  margin-left:25%;
}

footer{
  bottom:5%;
  color:black;
}

/*create a wrapper for the text and define a background color. text-shadow and border raidus applied  */
#mainMenu{
  width: auto;
  height: 35px;
  font-size: 1.25em;
  font-weight: bold;
  text-align: center;
}

/*remove default padding*/
#mainMenu ul{
  height:auto;
  padding: 8px 0px;
  margin: opx;
  position: center;
}

/*change position of the text so that it fits into the menu and runs horizontally (inline). also adds padding to the text for the horizontal positionaing */
#mainMenu li{
  display: inline;
  font-size: 1.2em;
  padding: 10px;
}

/*remove the text underline and change the color of the text to something remeniscent of the underline color. Also padding uniform in all areas to contorl poistion and size of the hover...*/
#mainMenu a {
  text-decoration: none;
  color: white;
}

/*set hoover effect*/
#mainMenu a:hover{
  color: purple;
}

#mainMenu {
	position: fixed;
	top:10px;
	left:25%;
	margin-left:0%;
}


#jfet{
  position:fixed;
  bottom:10%;
  color: white;
  margin-left:0%;
  padding-top: 25px;
  padding-right: 50px;
  padding-bottom: 25px;
  padding-left: 50px;
}


img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 950px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 950px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -475px;   /* 50% */
  }
}
